.red-row {
  background-color: #ff0606cc !important;
  color: rgb(255, 255, 255);
}

.black-row {
  background-color: rgba(0, 0, 0, 0.808) !important;
  color: rgb(255, 255, 255);
}

.red-row:hover {
  background-color: #ff060691 !important;
  color: rgb(255, 255, 255);
}

.black-row:hover {
  background-color: rgba(0, 0, 0, 0.568) !important;
  color: rgb(255, 255, 255);
}

.trash-black {
  color: black;
}

.transactionModal {
  background-color: black;
}
